@charset "UTF-8";

//size
$xxl: 1200px;
$lg: 1024px;
$sm: 768px;
$s: 640px;

// font Family
$Geologica: "Geologica", sans-serif;
$fontFamily: Arial, "Helvetica Neue", Helvetica, sans-serif;

//color
$BrightGray: #ebebeb;
$Platinum: #e2e4e6;
$DarkSilver: #707070;
$DavyGrey: #55595c;
$CharlestonGreen: #2a2a2a;
$PhilippineGray: #8c8c8c;
$CarminePink: #ea4242;
$Cinnabar: #db4437;
$SteelBlue: #337ab7;
$Azure: #007aff;
$AntiFlashWhite: #f0f0f0;
$Gainsboro: #dddddd;
$Keppel: #45a29e;
$ElectricBlue: #66fcf1;
$MiddleBlueGreen: #97cdcd;
$PastelRed: #ff6666;
$LightSalmonPink: #ff9999;
$DavyGrey: #55595c;
$VenetianRed: #999;
$Cultured: #f5f5f5;
$CharlestonGreen: #252c2e;
$Onyx: #323c41;
$MediumCarmine: #a94442;
