<div class="product-content">
  <h1>Danh mục</h1>
  <div class="action">
    <button class="action-addProduct" routerLink="add">Thêm danh mục</button>
    <div class="action-search">
      <i class="fa-solid fa-magnifying-glass"></i>
      <input type="search" placeholder="Tìm kiếm ......" (input)="onSearchChange($event)"/>
    </div>
  </div>
  <table border="0" class="table">
    <thead>
      <tr>
        <th>STT</th>
        <th>Tên</th>
        <Th>Chức năng</Th>
      </tr>
    </thead>
    <tbody *ngIf="categories && categories.length">
      <tr *ngFor="let category of categories | paginate: { itemsPerPage: 10, currentPage: p, totalItems: totalLength}; index as i">
        <td>{{ i + 1 }}</td>
        <td>{{ category.name }}</td>
        <td>
          <button class="btn-sua" routerLink="{{category._id}}/edit">Sửa</button>
          <button class="btn-xoa" (click)="confirmAndRemoveItem(category._id)">Xóa</button>
        </td>
      </tr>
    </tbody>
    <tbody *ngIf="categories && !categories.length">
      <tr>
        <td colspan="6" class="no-results">Không tìm thấy kết quả</td>
      </tr>
    </tbody>
  </table>
  <div class="pagination pagination-custom">
    <app-custom-pagination (pageChange)="p = $event"></app-custom-pagination>
  </div>
</div>
