@import "./../../../../../public/scss/utils/functions.scss";
@import "./../../../../../public/scss/utils/variables.scss";
* {
  margin: 0;
  padding: 0;
}
div {
  background-color: $Cultured;
  font-family: $Geologica;
  .breadCrumbs {
    @include Flex(flex, flex-start, center);
    @include Gap(5px, 0);
    max-width: 1150px;
    margin: 0 auto;
    padding: 20px;
    font-size: 1rem;
    font-family: $Geologica;
    border-bottom: 1px solid #ebebeb;
    @include max-screen($xxl) {
      max-width: 900px;
    }
    @include max-screen($lg) {
      max-width: 600px;
    }
    @include max-screen($s) {
      max-width: 400px;
    }
    p {
      @include Size(14px, 400, normal);
      cursor: pointer;
      &:hover {
        color: $CarminePink;
      }
    }
    span {
      @include Size(14px, 400, normal);
      cursor: pointer;
      &::before {
        content: "\f101";
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        margin-right: 5px;
        color: #ccc;
      }
      &:hover {
        color: $CarminePink;
      }
    }
    .line {
      color: $CarminePink;
    }
  }
  .signup {
    padding-top: 20px;
    max-width: 1150px;
    margin: auto;
    @include max-screen($xxl) {
      max-width: 900px;
    }
    @include max-screen($lg) {
      max-width: 600px;
    }
    @include max-screen($s) {
      max-width: 400px;
    }
    h3 {
      font-weight: 700;
      font-size: 1.5rem;
    }
    &-top {
      @include Gird(grid, 2);
      @include Gap(20px, 0px);

      @include max-screen($lg) {
        @include Gird(grid, 1);
      }
      .action {
        display: flex;
        flex-direction: column;
        margin: 1rem 0rem;
        label {
          font-size: 1rem;
          margin-bottom: 5px;
        }
        input {
          @include Size(1em, 400, 1.5);
          margin-top: 4px;
          padding: 0.5rem 0rem 0.5rem 1rem;
          border: 1px solid $BrightGray;
          color: $DavyGrey;
          outline: none;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          transition: border-color 0.15s ease-in-out,
            box-shadow 0.15s ease-in-out;
          &:focus {
            box-shadow: 0 0 7px rgba(0, 225, 255, 0.3);
          }
        }
        div{
          color: $CarminePink;
          margin-top: 10px;
        }
      }
      .item-1 {
        order: 1;
      }
      .item-2 {
        order: 2;
      }
      .item-3 {
        order: 3;
        @include max-screen($lg) {
          order: 4;
        }
      }
      .item-4 {
        order: 4;
        @include max-screen($lg) {
          order: 3;
        }
      }
      .item-5 {
        order: 5;
      }
      .item-6 {
        order: 6;
      }
      .btn {
        grid-column: 1/2;
        justify-content: left;
        margin-top: 10px;
        &-dk {
          background-color: $CharlestonGreen;
          margin-right: 10px;
          text-transform: uppercase;
          transition: all ease 0.3s;
          cursor: pointer;
          display: inline-block;
          border: none;
          color: white;
          padding: 0 20px;
          line-height: 40px;
          &:hover {
            background-color: $CarminePink;
            border: none;
          }
          span {
            margin-right: 10px;
          }
        }
      }
    }
    &-bottom {
      margin-top: 10px;
      padding-bottom: 20px;
      .title {
        margin-bottom: 10px;
      }
      div {
        @include Flex(flex, center, center);
        column-gap: 20px;
        button {
          display: grid;
          grid-template-columns: 0.5fr 1fr;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          height: 40px !important;
          width: 140px;
          border: none;
          color: white;
          font-size: 1rem;
          div {
            height: 100%;
            grid-column: 0.5fr;
            border-right: 1px solid $BrightGray;
          }
          span {
            grid-column: 1fr;
          }
          &:hover {
            opacity: 0.8;
          }
        }
        .face {
          background-color: $SteelBlue;
          div {
            background-color: $SteelBlue;
          }
        }
        .gg {
          background-color: $Cinnabar;
          div {
            background-color: $Cinnabar;
          }
        }
      }
    }
  }
}
