<div class="container">
  <div class="breadCrumbs">
    <p>Trang chủ</p>
    <span class="line">Liên hệ</span>
  </div>
  <div class="module">
    <h1>LIỆN HỆ</h1>
    <div class="module-content">
      <div class="module-content-from">
        <div class="module-content-from-groud">
          <p>Tên</p>
          <input type="text" name="" id="" placeholder="Tên" />
        </div>
        <div class="module-content-from-groud">
          <p>Email</p>
          <input type="text" name="" id="" placeholder="Email" />
        </div>
        <div class="module-content-from-groud">
          <p>Nội dung</p>
          <textarea name="" id="" placeholder="Nội dung"></textarea>
        </div>
        <button >Gửi liên hệ</button>
      </div>
      <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4912.319839549795!2d105.7457957604355!3d21.03777003002319!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454b991d80fd5%3A0x53cefc99d6b0bf6f!2sFPT%20Polytechnic%20Hanoi!5e0!3m2!1sen!2s!4v1685701099819!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</div>
