<div>
  <div class="breadCrumbs">
    <p>Trang chủ</p>
    <span>Tất cả sản phẩm</span>
    <span class="line"> {{ product.name }}</span>
  </div>
  <div class="product-page">
    <div class="left">
      <img src="{{ product.image }}" alt="" />
    </div>
    <div class="center">
      <!-- <h3>{{ product.content }}</h3> -->
      <h1 class="th">
        {{ product.name }}
      </h1>
      <div class="price">
        <p class="price-sale">
          {{
            product.priceNew.toLocaleString("vi-VN", {
              style: "currency",
              currency: "VND"
            })
          }}
        </p>
        <p class="price-origin">
          {{
            product.priceOld?.toLocaleString("vi-VN", {
              style: "currency",
              currency: "VND"
            })
          }}
        </p>
      </div>
      <div class="mota">
        <div>Mô tả:</div>
        <p>
          - Mắt xỏ dây âm với dây cột nylon <br />
          - Lót trong bằng da thoáng khí tự nhiên <br />
          - Đệm lót giày bằng da bọc thoải mái và hỗ trợ chân
        </p>
      </div>
      <form>
        <div class="quantity">
          <div class="quantity-title">Số lượng</div>
          <div class="quantity-ch">
            <button (click)="minus($event)">-</button>
            <input
              type="text"
              (input)="setValue($event)"
              value="{{ valueInput }}"
              min="1"
              readonly
            />
            <button (click)="plus($event)">+</button>
          </div>
        </div>
        <div class="btn">
          <button type="submit">
            <span class="fa-solid fa-cart-shopping"></span>Thêm vào giỏ hàng
          </button>
        </div>
      </form>
    </div>
    <div class="right">
      <div class="right-content">
        <div><i class="fa-solid fa-truck"></i></div>
        <div>Miễn phí vận chuyển với đơn hàng lớn hơn 1.000.000 đ</div>
      </div>
      <div class="right-content">
        <div><i class="fa-solid fa-clock"></i></div>
        <div>Giao hàng ngay sau khi đặt hàng (áp dụng với Hà Nội và HCM)</div>
      </div>
      <div class="right-content">
        <div><span class="fas fa-exchange-alt"></span></div>
        <div>Đổi trả trong 3 ngày, thủ tục đơn giản</div>
      </div>
      <div class="right-content">
        <div><i class="fas fa-clipboard-list"></i></div>
        <div>Nhà cung cấp xuất hóa đơn cho sản phẩm này</div>
      </div>
    </div>
  </div>
  <div class="detail">
    <p class="detail-title"><span>Chi tiết sản phẩm</span></p>
    <div class="detail-main">
      {{ product.description }}
    </div>
  </div>
  <div class="products-lq">
    <div class="products">
      <div class="title">
        <h2>Sản phẩm mới</h2>
      </div>
      <div class="article">
        <div *ngFor="let item of first10Products" class="article-slider">
          <div class="image">
            <a href="/products/{{ item._id }}">
              <img [src]="item.image" alt="" />
            </a>
            <div class="tag">New</div>
          </div>
          <p class="content">
            <a href="/products/{{ item._id }}">{{ item.name }}</a>
          </p>
          <div class="price">
            <p class="price-new">
              {{
                item.priceNew.toLocaleString("vi-VN", {
                  style: "currency",
                  currency: "VND"
                })
              }}
            </p>
            <p class="price-old">
              {{
                item.priceOld?.toLocaleString("vi-VN", {
                  style: "currency",
                  currency: "VND"
                })
              }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
