<footer class="container">
  <div class="footer">
    <div class="footer-top">
      <div class="footer-top-col">
        <h4 class="footer-top-col-title">THÔNG TIN CÔNG TY</h4>
        <ul>
          <li>
            <a href="">Trang chủ</a>
          </li>
          <li>
            <a href="">Về chúng tôi</a>
          </li>
          <li>
            <a href="">Sản phẩm</a>
          </li>
          <li>
            <a href="">Tin tức</a>
          </li>
          <li>
            <a href="/contact">Liên hệ</a>
          </li>
        </ul>
      </div>
      <div class="footer-top-col">
        <h4 class="footer-top-col-title">Điều khoản</h4>
        <ul>
          <li>
            <a href="">Trang chủ</a>
          </li>
          <li>
            <a href="">Về chúng tôi</a>
          </li>
          <li>
            <a href="">Sản phẩm</a>
          </li>
          <li>
            <a href="">Tin tức</a>
          </li>
          <li>
            <a href="/contact">Liên hệ</a>
          </li>
        </ul>
      </div>
      <div class="footer-top-col">
        <h4 class="footer-top-col-title">Hướng dẫn</h4>
        <ul>
          <li>
            <a href="">Trang chủ</a>
          </li>
          <li>
            <a href="">Về chúng tôi</a>
          </li>
          <li>
            <a href="">Sản phẩm</a>
          </li>
          <li>
            <a href="">Tin tức</a>
          </li>
          <li>
            <a href="/contact">Liên hệ</a>
          </li>
        </ul>
      </div>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3211.0337628226994!2d105.74637260104234!3d21.037252956109075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454b991d80fd5%3A0x53cefc99d6b0bf6f!2zVHLGsOG7nW5nIENhbyDEkeG6s25nIEZQVCBQb2x5dGVjaG5pYw!5e0!3m2!1svi!2s!4v1685816600850!5m2!1svi!2s"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
    <div class="footer-center">
      <div class="footer-center-payment-methods">
        <h4 class="footer-center-payment-methods-title">Hỗ trợ thanh toán</h4>
        <div class="footer-center-payment-methods-groud">
          <img
            src="https://bizweb.dktcdn.net/thumb/small/100/091/132/themes/877468/assets/payment_1_image.png?1676015131562"
            alt=""
          />
          <img
            src="https://bizweb.dktcdn.net/thumb/small/100/091/132/themes/877468/assets/payment_2_image.png?1676015131562"
            alt=""
          />
          <img
            src="https://bizweb.dktcdn.net/thumb/small/100/091/132/themes/877468/assets/payment_3_image.png?1676015131562"
            alt=""
          />
          <img
            src="https://bizweb.dktcdn.net/thumb/small/100/091/132/themes/877468/assets/payment_4_image.png?1676015131562"
            alt=""
          />
          <img
            src="https://bizweb.dktcdn.net/thumb/small/100/091/132/themes/877468/assets/payment_5_image.png?1676015131562"
            alt=""
          />
        </div>
      </div>
      <div class="footer-center-customer">
        <h4 class="footer-center-customer-title">GIẢI ĐÁP THẮC MẮC</h4>
        <div class="footer-center-customer-contact">
          <div class="footer-center-customer-contact-left">
            <img
              src="https://bizweb.dktcdn.net/thumb/icon/100/091/132/themes/877468/assets/customer_care_image.png?1676015131562"
              alt=""
            />
            <div class="groud">
              <p class="title">Tư vấn miễn phí (24/7)</p>
              <a href="" class="phone">1900 6750</a>
            </div>
          </div>
          <div class="footer-center-customer-contact-right">
            <div class="groud">
              <p class="title">Góp ý, phản ánh (8h00 - 20h00)</p>
              <a href="" class="phone">1900 6750</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <h4 class="footer-bottom-title">CÔNG TY CỔ PHẦN CÔNG NGHỆ DKT</h4>
      <div class="footer-bottom-row">
        <div class="footer-bottom-row-info">
          <p>
            Trụ sở chính: Tầng 4 - Tòa nhà Hanoi Group - 442 Đội Cấn - Ba Đình -
            Hà Nội
          </p>
          <p>Điện thoại : (04) 6674 2332 - (04) 3786 8904</p>
        </div>
        <div class="footer-bottom-row-info">
          <p>
            VPDD: Lầu 3 - Tòa nhà Lữ Gia - Số 70 Lữ Gia - P.15 - Q.11 - TP HCM
          </p>
          <p>Điện thoại : (08) 6680 9686 - (08) 3866 62764</p>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="copyright-content">
      <span
        >© Bản quyền thuộc về Avent Team | Cung cấp bởi
        <a href="">Sapo</a></span
      >
    </div>
  </div>
</footer>
