<div class="info">
  <div class="title">
    <div>
      <div>HỖ TRỢ TRỰC TUYẾN</div>
    </div>
  </div>
  <div>
    <div class="listInfo">
      <i class="fa-solid fa-phone"></i>
      <div>
        <h4>Tư Vấn bán hàng 1</h4>
        <div>Mrs. Dung: <span>(04) 37868904</span></div>
      </div>
    </div>
    <div class="listInfo">
      <i class="fa-solid fa-phone"></i>
      <div>
        <h4>Tư Vấn bán hàng 1</h4>
        <div>Mrs. Dung: <span>(04) 37868904</span></div>
      </div>
    </div>
    <div class="listInfo">
      <i class="fa-solid fa-envelope"></i>
      <div>
        <h4>Tư Vấn bán hàng 1</h4>
        <div>Mrs. Dung: <span>(04) 37868904</span></div>
      </div>
    </div>
  </div>
</div>
